.product-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.product-list article {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.product-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: none;
  margin-top: 10px;
  color: #da552f;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in;
}

.product-list article a:hover {
  background: #da552f;
  color: #FFF;
}

.product-list .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-list .actions button {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #da552f;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}

.product-list .actions button:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.product-list .actions button:active {
  background-color: #db4319;
  color: #FFF;
  opacity: 0.8;
}

.product-list .actions button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}