.back-button {
  padding: 15px;
  margin-top: 10px;
  margin-left: 23.3%;
}

.back-button a {
  text-decoration: none;
  background-color: #da554f;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  padding: 15px 25px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.back-button a:hover {
  background-color: #d34039;
}

.product-info {
  max-width: 700px;
  height: 500px;
  margin: 10px auto 0;
  padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.product-info-title {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #333;
  border-radius: 5px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.product-info-content {
  margin-top: 20px;
}

.product-info-description {
  color: #888;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  padding: 20px;
}

.product-info-url {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

a {
  color: #069;
}

.product-info-url a:hover {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}